@font-face {
    font-family: mainFont;
    src: url(../src/assets/font/Outfit-VariableFont_wght.ttf);
}

:root {
    --main-bg: #a5f3fc;
    --sub-head-clr : rgb(11, 124, 124);
}

body {
    font-family: mainFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* About */

.about-section-bg {
    background-image: url(../src/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-section {
    padding: 10vh 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.about-image {
    margin-bottom: 20px;
}

.about-image img {
    width: 25vw;
    height: auto;
    object-fit: cover;
    position: relative;
}

.contact-image {
    padding-top: 1vh;
    height: auto;
    width: 2vw;
}

.about-text {
    text-align: start;
    padding: 2vh 5vw;
    max-width: 40vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2vh;
}

.about-text p {
    padding: 0;
    margin: 0;
}

.about-text-para {
    font-size: clamp(0.8rem, 1.3vw, 1.8rem);
}

.about-header {
    font-family: mainFont;
    font-size: clamp(1rem, 1.8vw, 2rem);
    font-weight: bold;
    color: var(--sub-head-clr);
}

.about-contacts-container {
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1vw;
}

/* Projects */

.projects-heading{
    padding: 2vh 11vw;
}

.projects-heading-text{
    padding: 0;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 800;
    color: var(--sub-head-clr);
}

.projects-header {
    font-size: ckarmp(1.5rem, 2vw, 2.5rem);
    font-weight: bold;
}

.projects-section {
    padding: 2vh 11vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
}

.project-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.project-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.project-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}


.project-title {
    font-size: clamp(1rem, 1.5vw, 2rem);
    font-weight: bold;
    padding-left: 1rem;
}

.project-icon {
    width: 2vw;
    height: auto;
    padding-right: 1rem;
}

.project-description {
    text-align: start;
    font-size: clamp(0.8rem, 1.3vw, 1.8rem);
    padding: 0 1rem;
}
