@font-face {
    font-family: mainFont;
    src: url(../src/assets/font/Outfit-VariableFont_wght.ttf);
}

:root{
    --main-bg: #a5f3fc;
}

body{
    font-family: mainFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* About Section */

.about-section-bg{
    background-image: url(../src/assets/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-section {
    padding: 10vh 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.about-image {
    margin-bottom: 20px;
}

.about-text {
    font-size: 1.2em;
    text-align: center;
    max-width: 600px;
    padding: 0 20px;
}

.about-image img{
    width: 25vw;
    height: auto;
    object-fit: cover;
    position: relative;
}

.about-text{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.contact-image{
    height: auto;
    width: 2vw;
}


